<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Poetry Api</title>

        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="{{ base_url() }}/css/app.css">
    </head>
    <body>
        <div id="app">
            <section class="menu">
                <h1 class="logo">Poetry Api</h1>
                {% include 'partials/_navigation.twig' %}
            </section>
            <section>
                {% block content %}{% endblock %}
            </section>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.min.js"></script>
        <script src="https://unpkg.com/vue@2.3.3"></script>

        <script src="{{ base_url() }}/js/app.js"></script>
    </body>
</html>
